* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

.conteudo {
    display: grid;
}

.destaque {
    margin-bottom: 56px;
}

.destaque .produto a {
    display: flex;
    font-size: 2em;
}

.destaque .produto img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 1%;
    row-gap: 5%;
}

h2 {
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 767px) {

    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .destaque .produto a {
        display: block;
        font-size: 1.5em;
    }

    .destaque .produto img {
        margin-right: 0px;
    }

    .produtos {
        display: block;
    }

    .produtos .produto {
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0;
    }

    header div.container {
        flex-direction: column;
    }

    .submenu {
        display: block;
        width: 100px;
        position: relative;
        border: none;
    }

    .menu {
        display: none;
    }

    .menu>li {
        clear: both;
    }

    .submenu li {
        display: block;
        padding: 8px;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }



    .destaque .produto a {
        font-size: 1.5em;
    }

    .produtos {
        grid-template-columns: repeat(2, 49%);
    }
}